!!!
%html
  %head
    %title Optoro - Madlibs
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container

    = javascript_include_tag "application"
